<app-menu></app-menu>
<div class="body">
    <div class="pokemon-forte-container">
        <div class="img-pokemon-forte">
            <img src="https://repositorio.sbrauble.com/arquivos/in/pokemon_bkp/cd/58/754.png" alt="">
        </div>
        <div class="texto-pokemon-forte">
            <h1>Slaking</h1>
            <br>
            <p>
                Slaking é conhecido por ser um pokémon preguiçoso. Da mesma forma que o Snorlax,
                ele dificilmente se mexe, a não ser quando acaba a comida de onde ele está ficando.
                Mas sua habilidade provém exatamente disso. Mesmo quando está relaxando, o pokémon 
                economiza energia, assim, podendo liberar o que se acumula nele em batalha e pode, 
                ainda, recuperar a energia perdida com o uso de sua habilidade Slack Off. Isso faz 
                com que Slaking tenha o nível de CP mais alto entre todos os pokémon, algo maior até 
                que o do próprio Arceus e Mewtwo.
            </p>
        </div>
    </div>
    <br>
    <div class="pokemon-forte-container">
        <div class="img-pokemon-forte">
            <img src="https://assets.pokemon.com/assets/cms2-pt-br/img/cards/web/SM8/SM8_PT-BR_97.png" alt="">
        </div>
        <div class="texto-pokemon-forte">
            <h1>Giratina</h1>
            <br>
            <p>
                Giratina é um Pokémon Lendário do tipo Fantasma/Dragão proveniente do Mundo Distorcido.
                O pokémon é parte do Trio da Criação de Sinnoh, representando a antimatéria e foi banido
                deste mundo para o Distorcido por conta de sua conduta extremamente violenta. Ele é o 
                único dos Pokémon que tem a habilidade de controlar e viajar através das dimensões. 
                Além disso, ele também tem a Shadow Force como habilidade exclusiva.
            </p>
        </div>
    </div>
<br>
<div class="pokemon-forte-container">
    <div class="img-pokemon-forte">
        <img src="https://assets.pokemon.com/assets/cms2-pt-br/img/cards/web/CEL/CEL_PT-BR_4.png" alt="">
    </div>
    <div class="texto-pokemon-forte">
        <h1>Palkia</h1>
        <br>
        <p>
            Palkia é um pokémon que tem a capacidade de distorcer o espaço e, com isso, consegue criar 
            realidades alternativas. Como esse pokémon vive em uma dimensão diferente, isso torna seu 
            comportamento quase impossível de estudar. Mesmo distante, o entanto, o pokémon é casualmente
            visto em conflitos violentos com sua contraparte Dialga. Vale lembrar que Palkia é o único
            Pokémon conhecido que pode aprender a poderosa habilidade Spacial Rend.
        </p>
    </div>
</div>
<br>
<div class="pokemon-forte-container">
    <div class="img-pokemon-forte">
        <img src="https://assets.pokemon.com/assets/cms2-pt-br/img/cards/web/SM8/SM8_PT-BR_127.png" alt="">
    </div>
    <div class="texto-pokemon-forte">
        <h1>Dialga</h1>
        <br>
        <p>
            Dialga é um Pokémon Lendário do tipo Ferro/Dragão, e faz parte do Trio da Criação de Sinnoh. 
            O Pokémon tem a habilidade de dobrar o tempo, podendo acelerá-lo, deixá-lo mais lento e também
            pará-lo completamente. Por conta dessa habilidade, ele é o único pokémon que consegue usar o 
            Roar of Time.


        </p>
    </div>
</div>
</div>