app-menu{
    width: 30%;
    position: fixed;
    float: left;
}

.body{
    width: 70%;
    float: right;
}

$color-brand-primary-dark: #00AD88;
$color-brand-primary-normal: #00C592;
$color-brand-primary-light: #B6DFD2;
$color-brand-secundary-dark: #002C2E;
$color-brand-secundary-normal: #01464D;
$color-brand-secundary-light: #276D72;

.nome-container{
    padding: 1% 2.5%;
}

.container-informacoes{
    background-color: rgb(247, 231, 91);
}

.item-container{
    background-color: white;
    float: left;
    width: 26%;
    margin: 1%;
    height: 35vh;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.item-container a{
    color: $color-brand-primary-dark;
    text-decoration: none;
    font-weight: bold;
}

.item-container h1{
    color: $color-brand-secundary-normal;
    text-transform: uppercase;
    font-size: 20px;
}

.item-container img{
    width: 75px;
    height: 75px;
}

.item-container .item-texto{
    height: 32vh;
}

.imagem-container{
    border-radius: 5px;
}

.imagem-container img{
    border-radius: 25px;
    padding: 0% 1%;
    width: 97.5%;
    height: 25vh;
    object-fit: cover;
}