<app-menu></app-menu>
<div class="body">
    <div class="nome-container">
        <h1>
            Olá, {{nome}}!
        </h1>
        <p>
        Aqui você tem as informações dos seus pokémons, consegue escolher um pokémon aleatório,
        acessa a lista e muito mais. Aproveite!
    </p>
</div>
<br>
<div class="container-informacoes">
    <br>
    <div class="imagem-container">
        <img src="../../assets/img-inicial/banner-1.jpg">
    </div>
    
    <div class="item-container">
        <div class="item-texto">
            <img src="../../assets/img-inicial/icon/pok-5.png">
            <h1>Pokémon Aleatório</h1>
            <p>Nesse parte temos uma função que dentro da pokébola tem um pokemon aleatório. 
                Teste a sua Sorte! </p>
            </div>
            <a href="pokemon">IR ></a>
        </div>
        <div class="item-container">
            <div class="item-texto">
                <img src="../../assets/img-inicial/icon/pok-1.png">
                <h1>Lista dos Pokémons</h1>
                <p>Aqui temos uma função que trás uma lista com todos os pokemons</p>
            </div>
            <a href="lista">Acesse ></a>
        </div>
        <div class="item-container"> 
            <div class="item-texto">
                <img src="../../assets/img-inicial/icon/pok-2.png">
                <h1>Lista dos Pokémons mais Fortes</h1>
                <p>Aqui mostra os pokemons que ninguém que lutar, porém todo mundo quer ter</p>
            </div>
            <a href="fortes">Saiba Mais ></a>
        </div>
        <br>
        <div class="imagem-container">
            <img src="../../assets/img-inicial/banner-2.jpg">
        </div>
        <br>
    </div>
</div>