<div class="menu-container"> 
    <div class="logo">
        <a href="informacoes">
            <img src="../../assets/img-inicial/img-logo.png">
        </a>
    </div>
    <br>
    <br>
    <a href="pokemon" (click)="pokemonAleatorio()">
        <div class="item-menu-container">
            <img class="item-item" src="../../assets/img-inicial/icon/pok-5.png">
            <span class="item-item">Pokémon Aleatório</span>
        </div>
    </a>
    <br>
    <br>
    <a href="lista">
        <div class="item-menu-container">
            <img class="item-item" src="../../assets/img-inicial/icon/pok-2.png">
            <span class="item-item">Lista dos Pokémons</span>
        </div>
    </a>
    <br>
    <br>
    <a href="fortes">
        <div class="item-menu-container">
            <img class="item-item" src="../../assets/img-inicial/icon/pok-1.png">
            <span class="item-item">+ Fortes</span>
        </div>
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="sair-menu-container">
        <a (click)="sair()">
            <img src="../../assets/img-inicial/icon/exit.png">
        </a>
    </div>
</div>